#PostForm {
  z-index: 3;
  bottom: -261%;
  left: 50%;
  transform: translate(-51%, 50%);
  display: flex;
  position: absolute;
  margin-left: 0px;
  min-height: 300px;
  justify-content: space-around;

}


#PostForm input{
  border: none;
  border-radius: 3px;
  width: 60%;
  height: 20px;
  font-size: 18px;
}
#desc {
  min-width: 60%;
  min-height: 80px;
  border: none;
  font-size: 18px;
}
#PostInputs {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#PostInputs input{
  font-size: 18px;
    border: none;
    width: 62%;
    height: 40px;
}

#PostInputs div {
  width: auto;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  display: inline-block;
}
#PostInputs p {
  margin: 0;
  display: inline-block;
}
#PostInputs .uploader {
  width: auto;
  margin-left: 10px;
}

#preview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

#preview button {
  margin-left: 88%;
  margin-top: 6px;
}

#preview img {
  max-width: 100%;
}

#preview iframe {
  max-width: 100%;
}

#preview video {
  max-width: 100%;
}

#PostForm h4 {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0
}
.addlCButton:hover {
  cursor: pointer;
}

.audioDiv {
  display: inline-block;
  height: 40px;
  width: 100%;
  text-align: center;
}
.fa-play-circle {
  font-size: 30px;
}
.fa-play-circle:hover {
  cursor: pointer;
}
