#PostForm {
  z-index: 3;
  top: 160px;
  left: 30%;
  display: flex;
  position: absolute;
  margin-left: 0px;
  min-height: 200px;
  justify-content: space-around;

}
#PostForm input{
  border: none;
  border-radius: 3px;
  width: 60%;
}
#desc {
  min-width: 60%;
  min-height: 40px;
  border: none;
}
#PostInputs {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#PostInputs input{
  font-size: 13px;
    border: none;
    width: 75%;
    height: 40px;
}

#PostInputs div {
  width: auto;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  display: inline-block;
}
#PostInputs p {
  margin: 0;
  display: inline-block;
}
#PostInputs .uploader {
  width: auto;
  margin-left: 20px;
}

#preview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 63%;
  text-align: center;
}
