.baseLozenge {
  background-color: #747C9E;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  padding: 5px;
  width: 550px;
  margin: 10px;

  border-radius:4px;
  box-shadow: 3px 4px 6px 1px rgba(0, 0, 0, 0.4);
}

.contentFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#MainBody {
  display: flex;
  justify-content: center;
}
#sessionPage {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around
}

#sessionPage h1{
  font-size: 80px;
  letter-spacing: 15px;
  display: inline-block;
  font-family: "Cutive Mono", monospace;
  margin-top: 130px;
  color: #f9fcff;
}
#FormConcerns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  margin-top: 100px;
  border: 1px solid #2B3856;
}

#FormConcerns p {
  background-color: #747C9E;
  padding: 10px;
  color: white;
  text-shadow: none;
  border-radius: 3px;
}

#greeting {
  display: block;
  font-size: 20px;
  width: 420px;
  padding: 0 50px;
  text-align: center;
}

#greeting h2 {
  margin-top: 15px;
  margin-bottom: 0px;
}
#greeting .fa {
  margin-left: 2px;
}

#SessionForm {
  width: 458px;
}

.signup {
  border: none;
  background: transparent;
  box-shadow: none;
}

#SessionForm input {
  margin: 10px auto;
  display: block;
  width: 90%;
  height: 30px;
  font-size: 24px;
}

#SessionForm lable {
  margin: 10px auto;
  font-size: 18px;
}

#SFHeader {

  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

#SFHeader h2 {
  margin: 5 auto;
  display: inline-block;

}

#authErrors {
  font-size: 12px;
  list-style: none;
  max-width: 150px;
  padding: 0;
}

#SignIn-Up-demo-buttons{
  display: flex;
  justify-content: space-around;
  width: 94%;
  margin-bottom: 0px;
}

#SignIn-Up-demo-buttons button {
  width: 85%;

  border-radius: 2px;
  margin: 0 7px;
  background-color: #747C9E;
  height: 30px;
  font-size: 16px;
}

#SFFooter {
  text-align: center;
  display: flex;
  width: 458px;
  justify-content: center;
}
#SFFooter a {
  margin: 10px;
}
