#FeedFootprint {
  display: inline-block;
  width: 80%;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 80px;

}

.feed-item { width: 250px;  }

#PostHeader img {
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  margin-right: 3px;
}

#PostHeader {
  font-size: 18px;
  display: flex;
  align-content: center;
  border-bottom: 1px solid black;
  width: 100%;
  padding: 5px;
  margin-bottom: 3px;
}

#PostHeader button{
  margin-left: 10px;
}

#PostHeader h5 {
  display: inline-block;
 margin: auto 0;
}

#PostFooter {
  width: 100%;
  display: flex;
  justify-content: space-between;;
  align-items: baseline;
  padding: 10px;
}

#pfLeft {
  width: 30%;
  display: inline-block;
}

#pfLeft h4 {
  margin-top: 0;
  margin-bottom: 0;
}

#pfRight {
  display: flex;
  width: 65%;
  justify-content: flex-end;;
}

#pfRight i {
  margin-right: 5px;
}

#authorOptions a {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  background: transparent;
}

#authorOptions button {
  margin-right: 5px;
  padding: 0px;
  height: 25px;
  width: 60px;
  text-align: center;
  justify-content: center;
}

.baseLozenge a {
  width: 97%;
  padding: 2.59%;
  background: #a2a8b2;
  color: black;
  text-shadow: none;
  font-size: 18px;
  margin-bottom: 5px
}
.baseLozenge p {
  margin: 0 auto;
  max-width: 96%;
  word-wrap: break-word;
}
.baseLozenge #media {
  max-width: 102%;
  max-height: 100%;
  border: none;
}
.baseLozenge audio {
  max-width: 100%;
}



#VideoPost {
  min-height: 200px;
}
iframe {
  width: 600px;
  height: 300px;
}
.feed-item iframe {
  height: 150px;
}


video {
  width: 100%;
  height: 300px;
}
.feed-item video {
  height: 150px;
}

.UserFeed {
  margin-top: 75px;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
