#FeedFootprint {
  display: inline-block;
  width: 100%;
  margin-top: 80px;
}

.feed-item { width: 250px; float: left; margin:5px; }

#PostHeader img {
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  margin-right: 3px;
}

#PostHeader {
  font-size: 18px;
  display: flex;
  align-content: center;
  border-bottom: 1px solid black;
  width: 100%;
  padding: 5px;
  margin-bottom: 3px;
}

#PostHeader h5 {
  display: inline-block;
 margin: 0
}

.feed-item a {
  width: 97%;
  padding: 2.7%;
  background: #a2a8b2;
  color: black;
  text-shadow: none;
  font-size: 18px;
}
.feed-item p {
  margin: 10 auto;
}
.feed-item #media {
  width: 103%;
  border: none;
}
.feed-item audio {
  width: 100%;
}



#VideoPost {
  min-height: 200px;
}
iframe {
  width: 400px;
  height: 220px;
}
