#ImagePostForm {
  z-index: 3;
  top: 160px;
  left: 30%;
  display: flex;
  position: absolute;
  margin-left: 0px;
  min-height: 200px;
  justify-content: space-around;
}

#ImagePostForm h5 {
  margin-left: 10px;
}

#imgInputs {
  display: flex;
  align-items: center;
  width: 92%
}

#imgInputs input {
  font-size: inherit;
  height: 40px;
}
#imgInputs i {
  margin-left: 10px;
}

#imgInputs i:hover {
  cursor: pointer;
}

#ImagePostForm img {
  max-width: 550px;
}

#ImagePostForm input {
  font-size: 13px;
  border: none;
  width: 75%;
}
