#ImagePostForm {
  display: flex;
  z-index: 0;
  position: fixed;
  margin: 0 auto;
  top: 20%;
  justify-content: space-between;
  height: 200px;
}
#imgInputs {
  display: flex;
  align-items: center;
  width: 92%
}

#imgInputs input {
  border: none;
  width: 80%;
  font-size: inherit;
  height: 40px;
}
#imgInputs i {
  margin-left: 10px;
}

#imgInputs i:hover {
  cursor: pointer;
}

#ImagePostForm img {
  max-width: 550px;
}

#ImagePostForm input {
  font-size: 13px;
  border: none;
  width: 90%;
}
