#LinkPostForm {
  z-index: 3;
  top: 160px;
  left: 30%;
  display: flex;
  position: absolute;
  margin-left: 0px;
  min-height: 200px;
  justify-content: space-around;
}

#LinkPostInputs {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 80%;
  justify-content: space-around;
  align-items: center;
}

#LinkPostInputs input {
  width: 90%;
  height: 30px;
  border: none;
  border-radius: 3px;
}

#LinkPostInputs input:first-child {
  font-size: 20px;
}
