
#NavBar {
  border-bottom: 1px solid white;
  background-color: #426caf;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

#NavRight {
  padding: 2px;
  display: flex;
  align-content: center;
}

#currentUserInfo{
  display: flex;
  align-content: center;
  width: 136px;
}
#currentUserInfo img {
  margin: 18px 10px;
}

#currentUserInfo button {
  margin-top: 16%;
  margin-left: 3px;
}

#NavBar button {
  height: 20px;
}

#PostDropdown  {
  display: none;
  position: fixed;
  padding: 5px;
  top: 8%;
  right: 6%;
  border: 1px solid gray;
  background-color: white;
  border-radius: 2px;
  width: 15%;
  z-index: 999;

}

#PostDropdown button {
  border: none;
  background-color: transparent;
  width: 106%;
  padding: 3px;
  box-shadow: none;
  text-align: left;
  border-bottom: 1px solid black;
  color: black;
  border-radius: 0;

}
#NavBar a{
  text-decoration: none;
  color: inherit;
}
