
#NavBar {
  border-bottom: 1px solid white;
  background-color: #2B3856;
  display: flex;
  width: 100%;
  padding: 0 5px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

#NavBar h1 {
  padding-left: 15px;
}

#NavRight {
  display: flex;
  align-content: center;
  padding: 2px 20px;

  margin-right: 15px;
  justify-content: space-around;;
}



#currentUserInfo{
  display: flex;
  align-content: center;
  justify-content: space-between;

}

#currentUserInfo h3 {
  margin: 0 10px;
}

#currentUserInfo button {
  margin: 0 5px;
  width: 80px;
  height: 30px;
  font-size: 14px; 
}

#PostDropdown  {
  display: none;
  position: absolute;

  top: 75%;
  right: 7%;
  border: 1px solid gray;
  background-color: white;
  border-radius: 2px;
  width: 100px;
  z-index: 999;

}

#PostDropdown div {
  border: none;
  background-color: transparent;
  width: 100%;
  margin-top: 6px;
  height: 25px;
  box-shadow: none;
  text-align: left;
  border-bottom: 1px solid black;
  text-align: center;
  color: black;
}



#NavBar a{
  text-decoration: none;
  color: inherit;

}

#signin {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
