#QuotePostForm {
  z-index: 3;
  padding-top: 5px;
  justify-content: space-around;
  display: flex;
  min-height: 160px;
  position: fixed;
  margin: 0 auto;
  top: 20%;
}

#QuotePostForm textarea {
  width: 93%;
  min-height: 60px;
  font-size: 40px;
  border: none;
  border-radius: 3px
}

#QuotePostForm input {
  border: none;
  border-radius: 3px;
}

#QuotePostForm lable {
  margin-right: 60%;
}

#controlButtons{
  display: flex;
  justify-content: space-between;
  width: 90%;
}
