#QuotePostForm {
  z-index: 3;
  top: 160px;
  left: 30%;
  display: flex;
  position: absolute;
  margin-left: 0px;
  min-height: 200px;
  justify-content: space-around;
}

#QuotePostForm textarea {
  width: 93%;
  min-height: 60px;
  font-size: 40px;
  border: none;
  border-radius: 3px
}

#QuotePostForm input {
  border: none;
  border-radius: 3px;
}

#QuotePostForm lable {
  margin-right: 60%;
}

#controlButtons{
  display: flex;
  justify-content: space-between;
  width: 90%;
  
  a {
    background: none;
    padding: 0;
    width: auto;
    height: auto;
  }
}
