body header p div h1 h2 h3 ul li lable {
  margin: 0;
  padding: 0;
  display: inherit;
  border: 0;
  font-size: 100%;
  font: inherit;
}

body {
  font-family: 'Slabo 27px', serif;
  background-color: #426caf;
  color: black;
    text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
}

button {
  box-shadow: 3px 4px 5px -3px rgba(0, 0, 0, 0.4);
}

button:hover {
  cursor: pointer;
}
