body header p div h1 h2 h3 ul li lable {
  margin: 0;
  padding: 0;
  display: inherit;
  border: 0;
  font-size: 100%;
  font: inherit;
}

body {
  font-family: 'Slabo 27px', serif;
  background-color: #2B3856;
  color: aliceblue;
}

button {
  box-shadow: 3px 4px 5px -3px rgba(0, 0, 0, 0.2);
  background-color: #747C9E;
  color: aliceblue;
  border-radius: 2px;
  border: 1px solid #2B3856;
}

button:hover {
  cursor: pointer;

}


.uploader {
  display: inline-block;
}

.uploader:hover {
  cursor: pointer;

}
