body header p div h1 h2 h3 ul li lable {
  margin: 0;
  padding: 0;
  display: inherit;
  border: 0;
  font-size: 100%;
  font: inherit;

}

body {
  font-family: 'Slabo 27px', serif;
  background-color: #2B3856;
  color: #f9fcff;
  margin: 0;
}

button {
  box-shadow: 3px 4px 5px -3px rgba(0, 0, 0, 0.2);
  background-color: #747C9E;
  color: #f9fcff;
  border-radius: 2px;
  border: 1px solid #2B3856;
  height: 25px;
  width: 70px;
  font-size: 12px;
}

button:hover {
  cursor: pointer;

}

a {
  text-align: center;
}

.uploader {
  display: inline-block;
}

.uploader:hover {
  cursor: pointer;

}
