// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #0000b3;
  color: black;
    text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
}

#SessionForm {
  background-color: white;
  display: inline-block;
  border: 1px solid black;
  padding: 3px;
  border-radius: 3px;
}

#SessionForm input {
  display: block;
}
