// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body header p div h1 {
  margin: 0;
  padding: 0;
  display: inherit;
  border: 0;
  font-size: 100%;
  font: inherit;
}

body {
  background-color: #0000b3;
  color: black;
    text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
}

#MainBody {
  display: flex;
  justify-content: center;
}

#FormConcerns {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  border: 1px solid #0000b3;
}

#greeting {
  display: block;
  font-size: 20px;
  margin-top: 100px;
  width: 300px;
  padding: 0 50px;
  text-align: center;
}

#SessionForm {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  padding: 5px;
  width: 400px;
  margin: 40px;

  border-radius: 5px;

}

#SessionForm input {
  margin: 10px auto;
  display: block;
  width: 160px;
}

#SessionForm lable {
  margin: 10px auto;
  font-size: 18px;
}

#SFHeader {
  width: 410px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

#SFHeader h2 {
  margin: 5 auto;
  display: inline-block;

}

#SignIn-Up-demo-buttons{
  display: flex;
  justify-content: space-around;
  width: 200px;
  margin-bottom: 50px;
}

#SFFooter {
  border-top: 1px solid black;
  display: flex;
  width: 410px;
  justify-content: center;
}
#SFFooter a {
  margin: 10px;
}

#NavBar {
  border-bottom: 1px solid white;
  background-color: #0000b3;
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-family: fantasy;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

#NavBar div {
  padding: 2px;
  display: flex;
}
