#TextPostForm {

  z-index: 9;
  top: 160px;
  display: flex;

  position: fixed;
  margin-left: 0px;
  min-height: 20%;
  justify-content: space-around;

  height: 200px;

}

#TextPostForm textarea {
  width: 93%;
  height: 74px;
}

#additionalContentLinks {
  display: inline-block;
}

#additionalContentLinks:hover {
  cursor: pointer;
}

#additionalContent {
  display: flex;
  justify-content: flex-start;
  width: 93%;
}

#additionalContent input {
  margin: 0 3px;
}

#topLine {
  display: flex;
  width: 95%;
  justify-content: space-between;
}

#additionalLink {
  display: none;
}

#additionalVid {
  display: none;
}

#additionalImage {
  display: none;
}
