#TextPostForm {

  z-index: 3;
  bottom: -261%;
  left: 50%;
  transform: translate(-51%, 50%);
  display: flex;
  position: absolute;
  margin-left: 0px;
  min-height: 300px;
  width: 585px;
  justify-content: space-around;

}

#TextPostForm textarea {
  width: 93%;
  font-size: 16px;
  height: 74px;
  border: none;
}

#TextPostForm input {
  border: none;
  font-size: 16px;
}

#additionalContentLinks {
  display: inline-block;
}

#additionalContentLinks:hover {
  cursor: pointer;
}

#additionalContent {
  display: flex;
  justify-content: flex-start;
  width: 93%;
}

#additionalContent input {
  margin: 0 3px;
  border: none;
}

#addlCButton {
  padding-right: 10px;
  padding-left: 10px;
}

#topLine {
  display: flex;
  width: 95%;
  justify-content: space-between;
}

#TPUploaded {
  display: flex;
  justify-content: space-between;
}

#TPUploaded div {
  padding-top: 3px;
}

#TPUploaded h4 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 3px
}




#additionalLink {
  display: none;
}

#additionalVid {
  display: none;
}

#additionalImage {
  display: none;
}

#additionalAud {
  display: none;
}
